<div class="J-news-detail-block">
    <h1 class="news-title"><%=data.title%></h1>
    <div class="news-time"><%=data.date%></div>
    <hr class="line"/>
    <div class="news-content"><%=data.content%></div>
</div>