<div class="J_sendimg sendimg">
	<div class="img">
		<img src="<%= data.bgPic%>" alt="" class="bg">
		<img src="<%= data.mPic%>" alt="" class="mimg">
	</div>
	<div class="buttonBox">
		<div class="buttext">向右滑动滑块填充拼图</div>
		<div class="empty"></div>
		<div class="tips">
			<p></p>
			<p></p>
			<p></p>
		</div>
	</div>
</div>
<div class="send_mask"></div>